extends ./templates/base.jade

block title
	title Ryde.club

append head
	each val in ['core-toolbar', 'core-menu', 'core-item', 'core-header-panel', 'core-drawer-panel', 'core-scaffold', 'core-icons', 'paper-icon-button', 'paper-button', 'paper-ripple', 'paper-fab', 'paper-shadow', 'leaflet-map-component', 'core-media-query']
		link(rel='import' href='bower_components/' + val + '/' + val + '.html')
	each val in ['maps-icons', 'hardware-icons', 'editor-icons']
		link(rel='import' href='bower_components/core-icons/' + val + '.html')
	each val in ['marker', 'circle']
		link(rel='import' href='bower_components/leaflet-map-component/leaflet-' + val + '-component.html')

block body
	a(href='/schedule.html')
		paper-button(raised style='background: #259B24; color:white; z-index: 3; position: fixed; margin-left: 2%; margin-top: 3.25em;')
			core-icon(icon='add')
			div Join Ryde.club
	core-header-panel(flex mode='waterfall')
		core-toolbar(style='background-color: #4285f4; font-size: 1em;')
			div(fit layout horizontal center)
				//div(flex)
				a(href='/' flex layout horizontal center style='color: #404040;')
					paper-button(flex)
						core-icon(icon='home' style='margin-right: 5%;') 
						div Ryde.club
				a(href='/schedule.html' flex layout horizontal center style='color: #404040;')
					paper-button(flex)
						core-icon(icon='event' style='margin-right: 5%;') 
						div Schedule
				//div(flex)
				a(href='http://ryde.club/schedule' flex layout horizontal center style='color: #404040;')
					paper-button(flex)
						core-icon(icon='schedule' style='margin-right: 5%;')
						div Reserve
				//div(flex)
				//a(href='http://www.google.com/search?q=site%3Aryde.club' style='color: #404040;')
					paper-icon-button(icon='search')
		div(layout vertical center)
			a(name='top')
			div(layout vertical center style='padding: 2em;')
				h1.huge(style='padding-top: 0.5em;') Ryde.club
				h3 the smarter way to drive to school

			//section(layout vertical center style='background: #ccc; padding-left: 1em; padding-right: 1em;')
				h2 Ryde.club isn't for everyone
				ul
					li If you don't need or want a car

			//paper-button(raised style='background: green; color: white; margin-top: 2em;')
				core-icon(icon='add')
				div Join Ryde.club Now
			//paper-fab(icon='add' style='background-color: #259B24;')
			section(self-stretch layout vertical center style='background-color: #e7e9fd; margin-top: 2em;')
				header
					h2(style='text-align:center;') See why Ryde.club is so awesome
				div
					ul(horizontal layout center-justified wrap)
						li.feature(vertical layout center)
							a(href='#schedule-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='event')
								h2 Schedule Once
								//p.
									Tell us your schedule for the semester
									and we'll make sure a vehicle is always available
						li.feature(vertical layout center)
							a(href='#reserve-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='schedule')
								h2 Reserve Whenever
								//p.
									For the less regular events in your life dibs
									a vehicle immediately or months in advance
						li.feature(vertical layout center)
							a(href='#parking-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='maps:local-parking')
								h2 Perfect Parking
								//p.
									We've worked with BYU and housing complexes to get parking
									spots right by your classes and your apartment
						li.feature(vertical layout center)
							a(href='#convenience-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='hardware:smartphone')
								h2 Super Convenient
								//p.
									Say farewell to gas stations and lighten your keychain.
									Unlock with your phone or the tap of a card.
						li.feature(vertical layout center)
							a(href='#save-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='editor:attach-money')
								h2 Save Money
								//p.
									If you don't have a vehicle already, or were thinking about
									getting a new one, Ryde.club will save you some money.
								//paper-button 
									p see how much you'll save
						li.feature(vertical layout center)
							a(href='#earn-info')
								paper-ripple(fit)
								core-icon.icon-circle--large(icon='work')
								h2 Earn Some $
								//p.
									By moving a vehicle from one parking lot to another
									or by topping off the tank with the gas card

			section
				ul(style='max-width: 1024px;')
					li
						a(name='schedule-info')
						h1(style='text-align: center;') Schedule Once
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									//div(auto-vertical style='background-color: #404040; min-width: 50%; min-height: 160px;') image/app
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p For the things you know ahead of time, Ryde.club works a lot more like a lease than a rental.
											p Just tell us your regular schedule for the semester, and if you get accepeted into Ryde.club, a car will always be ready for you at those regularly scheduled times.
										a(href='/schedule.html')
											paper-button(raised style='width: 100%; margin-bottom: 1em; margin-top: 1em; background: white;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div Set Your Schedule

					li 
						a(name='reserve-info')
						h1(style='text-align: center;') Reserve Whenever
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									//div(auto-vertical style='background-color: #404040; min-width: 50%; min-height: 160px;') image/app
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p.medium Hopefully you're not a robot and you don't just go to the exact same places every week.
											p.medium If you want to go somewhere on a whim, we can't promise that there will always be a car available but we work hard to try to make that happen.
											p.medium If you know a little bit ahead of time, you can reserve a car to make sure you make it to that party, meet someone at the airport, or whatever.
										a(href='http://ryde.club/schedule')
											paper-button(raised style='width: 100%; margin-bottom: 1em; margin-top: 1em; background: white;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div Reserve a Fake Car Now
									
					li
						a(name='parking-info')
						h1(style='text-align: center;') Prime Parking
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									leaflet-map(latitude='40.247805' longitude='-111.6484177' zoom='15' fitToMarkers style='min-width: 50%; min-height: 320px;' tileserver='http://a.tile.stamen.com/toner/{z}/{x}/{y}.jpg')
										leaflet-circle(latitude='40.2505788' longitude='-111.6511285' radius='25') JSB/ASB
										leaflet-circle(latitude='40.244148' longitude='-111.6512472' radius='25') Duck Pond
										leaflet-circle(latitude='40.2488567' longitude='-111.6444494' radius='25') Law Bldg./Wilk
										leaflet-circle(latitude='40.2486331' longitude='-111.6542811' radius='25') RB/SFH
										//leaflet-circle(latitude='40.2505788' longitude='-111.6511285' radius='25') Talmadge/ASB
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p Finding a parking spot is annoying. While we're making driving to school cheaper, why not make it less stressful too?
											p We work with BYU and housing complexes to make it so you don't have to search for a spot or have to walk too far from home or a class.
										//a
											paper-button(raised style='width: 100%; margin-bottom: 1em;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div CTA
									
					li
						a(name='convenience-info')
						h1(style='text-align: center;') Super Convenient
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									div(auto-vertical style='background-color: #404040; min-width: 50%; min-height: 160px;') image/app
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p You don't have to buy gas, but if the fancy strikes you, use the provided gas card.
											p Unlock the car from your phone or we'll get you a card to tap to unlock.
										a
											paper-button(raised style='width: 100%; margin-bottom: 1em; margin-top: 1em; background: white;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div Do A Visual Walkthrough
									
					li
						a(name='save-info')
						h1(style='text-align: center;') Save Money
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									//div(auto-vertical style='background-color: #404040; min-width: 50%; min-height: 160px;') image/app
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p.medium If you were going to buy or lease a car, Ryde.club will probably save you some money.
											p.medium By making sure that the cars aren't sitting around very often, the cost, per person, to buy the cars is lower.
											p.medium If you've already got a car as often as you want one though, joining Ryde.club won't make much sense for you.
										a
											paper-button(raised style='width: 100%; margin-bottom: 1em; margin-top: 1em; background: white;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div Run Me Through the Numbers
					li
						a(name='earn-info')
						h1(style='text-align: center;') Earn Some Back
						template(is='auto-binding')
							div
								core-media-query(query='max-width: 620px' queryMatches='{{phoneScreen}}')
								div(layout vertical?='{{phoneScreen}}' horizontal?='{{!phoneScreen}}')
									//div(auto-vertical style='background-color: #404040; min-width: 50%; min-height: 160px;') image/app
									div(auto-vertical layout vertical around-justified style='background-color: #e7e9fd; padding-left: 1em; padding-right: 1em; min-width: 50%; min-height: 320px;')
										div(style='margin: 0em 1em 0em 1em;')
											p Ryde.club tries to save you money. Part of how we save is by not hiring a ton of full-time employees.
											p This leaves some opportunites for our Ryde.club members to earn some money back for doing things like filling up the gas tank or driving home between classes sometimes.
										//a
											paper-button(raised style='width: 100%; margin-bottom: 1em; margin-top: 1em; background: white;')
												//core-icon(icon='chevron-right' style='margin-right: 5%;')
												div CTA
					
			//.team ? The Team ?
			//.aboutus ? About Us ?
		//.footer Footer
		