/**
*
* Breadcrumb
*
**/
.breadcrumbs
  display: none
  +medium()
    display: block
  position: relative
  z-index: 1
.breadcrumbs p
  type--small()
  padding-top: $lineHeight
.breadcrumbs__link
  type--small()
  color: black
  font-weight: 400
  padding-top: 0
  +medium()
    padding-top: 0